//_modal.scss

.modal-body {
  padding: 0 !important;
  background-color: #232323;
}

.modal-title {
  color: $white;
  text-align: center;
}

.modal-header {
  background-color: #282828;
  border-bottom: none !important;
}

.modalAlign {
  height:40%;
  padding-top: 30%;
  padding-bottom: 30%;
}

.modal-content {
  margin-top: 25%;
}

.twilio {
  width: 100%;
  display: flex;
  justify-content: center;
}

#loadingModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-animation {
  display: flex;
  align-items: center;
  justify-content: center;
}
