$background-black: #383838 !important;
$background-pink: #CA3879;
$background-purple: #8A2CCE;
$color-fill-transition: all .45s cubic-bezier(.3,1,.4,1) 0s;
$green-border: 1px solid #1DB954 !important;
$header-font: "Poppins";
$purple-button: #7C25F8;
$spotify-green: #1DB954 !important;
$white: #FFFFFF !important;
