@import './_variables.scss';

.howto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.howto-header {
  font-family: $header-font;
  font-weight: 900;
  font-size: 30px;
  margin-top: -4%;
  margin-bottom: 2%;
}

.howto-logos {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  width: 70%;
}

.howto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}
.howto-logo {
  height: 50px;
  margin-bottom: 10px;
}
