.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18%;
}

.page-title {
  font-size: 150px;
}

.page-subheader {
  font-size: 25px;
}

.spotify-auth-button {
  box-shadow: 1px 1px 10px #B8BFBF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3%;
  background-color: #1DB954;
  color: #FFFFFF;
}

.spotify-icon {
  margin-right: 5%;
}

.event-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.event-list-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70%;
  background-color: gray;
  overflow: scroll;

}

.event-list-item {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 90%;
  background-color: white;
  margin-top: 3%;
}

.event-checkbox {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: green;*/
}

.event-musicians-container {
  display: flex;
  height: 100%;
  width: 60%;
}

.event-musicians {
  align-content: flex-start;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: left;
  padding: 1%;
  /*background-color: yellow;*/
}

.headliner {
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.supporting {
  font-size: 15px;
}

.event-info-container {
  display: flex;
  height: 100%;
}

.event-info {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: right;
}

.glyphicon {
    font-size: 50px;
}

.noBullets {
  list-style-type: none;
}

.checkBox {
    appearance: none;
    -webkit-animation-duration: 2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
  }
/*     width: 75px */

.carousel {
  margin:0 auto;
  width: 100vw;
  height: 60vh;
  color: #333;
  background: #419be0;
}

.carousel-image {
  height: 60vh;
  width: 100vw;
}

.slick-dots {
  top: 0 !important;
}
