body {
  font-family: 'Poppins', sans-serif !important;
}

body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;

  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
     box-shadow: 0px 0px 10px rgba(0,0,0,.8);

  z-index: 100;
}
/*.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

canvas {
  top: 0px;
  left: 0px;
  position: absolute;
}

#particles-js {
    background: #484848;
    display: block;
    vertical-align: bottom;
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#particles-js .particles-js-canvas-el {
  width: 100vw!important;
  height: 100vh!important;
}

.login-container {
  color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18%;
  z-index: 1;
}

.page-title {
  font-size: 150px;
}

.page-subheader {
  font-size: 25px;
}

button.btn.btn-lg.spotify-auth-button {
  display: flex;
  justify-content: center;
}

.spotify-auth-button {
  box-shadow: 1px 1px 10px #B8BFBF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3%;
  background-color: #1DB954;
  color: #FFFFFF;
}

.spotify-icon {
  margin-right: 5%;
}*/

.event-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.event-list-sidebar {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.event-list-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.event-list-item {
  border: 1px solid #1DB954;
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  background-color: white;
  margin-top: 3%;
}

.event-list-item:hover {
  box-shadow: 1px 1px 10px #B8BFBF;
}

.event-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: green;*/
}

.event-musicians-container {
  display: flex;
    padding: 19px;
}

.event-musicians {
  align-content: flex-start;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: left;
  padding: 1%;
  /*background-color: yellow;*/
}

.headliner {
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.supporting {
  font-size: 15px;
}

.event-info-container {
  display: flex;
  background-color: #1DB954;
}

.event-info {
  color: #ffffff;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: right;
}

.glyphicon {
    font-size: 50px;
}

.noBullets {
  list-style-type: none;
}

.checkBox {
    appearance: none;
    -webkit-animation-duration: 2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
  }
/*     width: 75px */

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.carousel {
  z-index: 1;
  margin:0 auto;
  width: 100vw;
  height: 60vh;
  color: #333;
  background: #419be0;
  box-shadow: 0 0 10px #B8BFBF;
}

.carousel-image {
  position: relative;
  height: 60vh;
  width: 100vw;
  z-index: 2;
}
.slick-dots {
  top: 0 !important;
}

.slick-dots li button:before {
    /*position: absolute;*/
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #17567d;
    opacity: .40
}

.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: .75
}

.slick-dots.slick-thumb {
  height: 20px;
  width: 100vw;
}

#songkick-input {
  z-index: 1;
  width: 60vw;
  height: 22vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 10px #B8BFBF;
  top: -80px;
  top: -10vh;
}

.or-label {
  margin: 1.5%;
}

.genre-buttons {
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-between;
  align-content: flex-start;
}

.btn-circle.btn-lg {
  z-index: 1;
  box-shadow: 1px 1px 10px #B8BFBF;
  width: 60px;
  height: 60px;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 30px;
  background-color: #3a8884;
}

.modal-body {
  padding: 0 !important;
  background-color: #232323;
}

.modal-title {
  color: #ffffff;
  text-align: center;
}
.modal-header {
  background-color: #232323;
  border-bottom: none !important;
}

.logout-container {
  width: 100%;
  float: right;
  position: fixed;
  background: rgba(255,255,255,.3);
  z-index: 100;
}

.logout-btn {
  border-radius: 10px;
  color: #2AB759;
  border-width: 3px;
  border-color: #2AB759;
  background: rgba(0,0,0,.8);
  float: right;
  margin: 20px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 30px #000;
}

/*.home-page-container {
  align-items: center;
  justify-content: center;
}*/

/*.form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}*/
