body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #F7F5F1 !important;
}

body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;

  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
     box-shadow: 0px 0px 10px rgba(0,0,0,.8);

  z-index: 100;
}

#particles-js {
    background-image: url(../assets/particlebackground.png) ;
    display: block;
    vertical-align: bottom;
    width: 100vw;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home-container {
  height: 100%;
  margin-bottom: -45px;
}

.carousel-image {
  height: 50vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.panorama {
  background-image: url('../assets/panorama.png');
}

.govball {
  background-image: url('../assets/govball.png');
}
#particles-js .particles-js-canvas-el {
  background-image: url(../assets/loginbackground.png);
  background-position: center;
  background-size: cover;
  width: 100vw!important;
  height: 60vh!important;
}
.home-carousel {
  background-image: url(../assets/loginbackground.png);
  background-position: center;
  background-size: cover;
  width: 100vw!important;
  height: 60vh!important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-header-logo {
  margin-bottom: 8%;
  width: 30vw;
  z-index: 2;
}
.home-subheader{
  font-size: 35px !important;
}

.home-logos {
  margin-bottom: 5%;
}
.event-page-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.event-list-topbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 10vh;
}

.event-list-sidebar {
  height: 100vh;
  width: 20vw;
  float: right;
  position: fixed;
  margin-top: 3%;
  z-index: 10;
}

.scrolling-display {
  background-image: url(../assets/gigify-g.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

li.selected-item {
  font-weight: bold;
  border: none;
}

.affix {
  width: 16.6666%;
  top: 2%;
  height: 100vh;
}

.affix.top {
  display: none;
}

.playlist-btn {
  background-color: #1DB954;
  color: #ffffff;
  width: 100%;
}

.selected-artists-header {
  text-align: center;
  font-weight: bold;
}

.selectionWarning {
  text-align: center;
  color:  #8A2CCE;
}

.event-list-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.top-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gigify-hr {
  width: 100%;
  margin-top: 5%;
}

.event-subheader {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.list {
  width: 80%;
}

.event-list-item {
  border: 1px solid #383838;
  display: flex;
  flex-direction: row;
  height: 20%;
  min-width: 100%;
  background-color: white;
  margin-top: 3%;
}

.event-list-item:hover {
  box-shadow: 1px 1px 10px #B8BFBF;
}

.event-list-item-selected {
  box-shadow: 5px 5px 30px #B8BFBF;
  border: 4px solid #1DB954;
}


.artist-image {
  max-height: 200px;
  max-width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.event-musicians-container {
  display: flex;
    padding: 19px;
}

.event-musicians {
  align-content: flex-start;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: left;
  padding: 1%;
}

.headliner {
  font: 40px 'Poppins', sans-serif;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.supporting {
  font-size: 15px;
  font-style: italic;
}

.event-info-container {
  display: flex;
  background-color: #383838;
}

.event-info {
  color: #ffffff;
  width: 100%;
  font-size: 13px;
  display: flex;
  text-align: right;
  align-content: flex-start;
  flex-direction: column;
  margin-top: 5%;
}

.date {
  font-size: 35px;
}

.location {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.venue {
    color:  #ffffff;
    font-style: bold;
}

.info-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.ticket-btn {
  background-color:  #1DB954;
  color: #ffffff;
  height: auto;
  margin: 5px 10px;
}

.noBullets {
  list-style-type: none;
}

/*.checkBox {
    appearance: none;
    -webkit-animation-duration: 2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
  }*/
/*     width: 75px */

.selected-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  text-align: center;
  border: 2px solid black;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 94.45vh;
  width: 100vw;
  z-index: 1;
}

.carousel {
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  margin:0 auto;
  width: 100vw;
  height: 50vh;
  color: #333;
  background: #383838;
  box-shadow: 0 0 10px #B8BFBF;
}

.slick-dots {
  top: 0 !important;
}

.slick-dots li button:before {
    /*position: absolute;*/
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #17567d;
    opacity: .40
}

.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: .75
}

.slick-dots.slick-thumb {
  height: 20px;
  width: 100vw;
}

#songkick-input {
  display: flex;
  flex-direction: row;
  align-content: center;
  z-index: 1;
  width: 60vw;
  min-width: 200px;
  height: 22vh;
  min-height: 150px;
  background: #ffffff;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 10px #B8BFBF;
  top: -80px;
  top: -10vh;
}

.modal-body {
  padding: 0 !important;
  background-color: #232323;
}

.modal-title {
  color: #ffffff;
  text-align: center;
}
.modal-header {
  background-color: #282828;
  border-bottom: none !important;
}

.logout-container {
  width: 100%;
  float: right;
  position: fixed;
  background: rgba(255,255,255,.3);
  z-index: 100;
}

.logout-btn {
  border-radius: 10px;
  color: #2AB759;
  border-width: 3px;
  border-color: #2AB759;
  background: rgba(0,0,0,.8);
  float: right;
  margin: 20px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 30px #000;
}
.footer-logo {
  height: 25px;
  padding-right: 5px;
}
/*.home-page-container {
  align-items: center;
  justify-content: center;
}*/

/*.form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}*/
